<ion-list>
  <ion-item-sliding #slidingItem *ngFor="let listItem of wishesService.lists | doneFilter: finished">
    <ion-item-options side="left">
      <button ion-button color="info" icon-only
              (click)="editList(listItem, slidingItem)"
              >
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-item-options>
    <button ion-item (click)="listSelected(listItem)">
      {{ listItem.title }}
      <ion-note item-end>
        {{ listItem.items.length }} items
      </ion-note>
    </button>
    <ion-item-options side="right">
      <button ion-button color="danger" icon-only
              (click)="deleteList(listItem)"
              >
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
